<div id="loader" *ngIf="loading"></div>

<div id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled aside-enabled aside-fixed" style="--kt-toolbar-height: 55px; --kt-toolbar-height-tablet-and-mobile: 55px">
    <div class="d-flex flex-column flex-root">
        <div class="page d-flex flex-row flex-column-fluid">
            <app-leftmenu></app-leftmenu>
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <app-nav></app-nav>
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <div class="toolbar" id="kt_toolbar">
                        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                            <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
                                data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                                class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                                <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
                                    {{ 'payments.managePayments' | transloco }}
                                </h1>
                                <span class="h-20px border-gray-300 border-start mx-4"></span>
                                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                                    <li class="breadcrumb-item text-dark">{{ 'payments.listPayments' | transloco }}</li>
                                </ul>
                            </div>

                            <div class="d-flex align-items-center gap-2 gap-lg-3">
                                <div class="m-0"></div>
                            </div>
                        </div>
                    </div>

                    <div class="payment d-flex flex-column-fluid" id="kt_payment">
                        <div id="kt_content_container" class="container-xxl">
                            <div class="card">
                                <div class="card-body py-4">
                                    <p-toolbar styleClass="mb-4 gap-2">
                                        <ng-template pTemplate="left">
                                            <button pButton pRipple label="{{ 'addNew' | transloco }}" icon="pi pi-plus"
                                                class="p-button-success mr-2" routerLink="/payments/new"></button>
                                        </ng-template>

                                        <ng-template pTemplate="right">
                                            <button pButton pRipple label="{{ 'exportCSV' | transloco }}"
                                                icon="pi pi-download" (click)="dt.exportCSV()" class="p-button-info"
                                                pTooltip="CSV"></button>
                                        </ng-template>
                                    </p-toolbar>

                                    <p-table #dt [columns]="cols" [value]="results" [paginator]="true" [rows]="10"
                                        [rowHover]="true" [rowsPerPageOptions]="[10, 25, 50]"
                                        [showCurrentPageReport]="true"
                                        currentPageReportTemplate="{{ 'currentPageReportTemplate' | transloco }}">

                                        <ng-template pTemplate="caption">
                                            <div class="flex align-items-center justify-content-between">
                                                <span class="p-input-icon-left">
                                                    <i class="pi pi-search"></i>
                                                    <input pInputText type="text"
                                                        placeholder="{{ 'search' | transloco }}"
                                                        (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                                                </span>
                                            </div>
                                        </ng-template>

                                        <ng-template pTemplate="header" let-columns>
                                            <tr class="text-start text-muted fw-bolder fs-8 text-uppercase gs-0">
                                                <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
                                                    {{ col.header }}
                                                </th>
                                                <th>{{ 'actions' | transloco }}</th>
                                            </tr>
                                        </ng-template>

                                        <ng-template class="text-gray-600 fw-bold" pTemplate="body" let-result
                                            let-index="rowIndex">
                                            <tr class="odd">
                                                <td>{{ index + 1 }}</td>
                                                <td>{{ result.memberName }}</td>
                                                <td>{{ result.membershipName }}</td>
                                                <td>{{ result.amount | currency }}</td>
                                                <td>{{ result.paymentMethod }}</td>
                                                <td>{{ result.startDate }}</td>
                                                <td>{{ result.endDate }}</td>
                                                <td>{{ result.gymName }}</td>
                                                <td>{{ result.isActive }}</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button pButton pRipple icon="pi pi-ticket"
                                                            data-bs-toggle="modal" href="#exampleModalToggle"
                                                            (click)="getPaymentTicket(result)"
                                                            class="p-button-rounded p-button-warning mr-2"></button>
                                                        &nbsp;&nbsp;
                                                        <button *ngIf="auth.hasRole(['SUPERADMIN', 'ADMIN'])" pButton
                                                            pRipple icon="pi pi-trash"
                                                            class="p-button-rounded p-button-danger"
                                                            (click)="confirmDelete(result)"></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="summary">
                                            <div class="flex align-items-center justify-content-between">{{
                                                'totalRecords' | transloco }}: {{ results ? results.length : 0 }}</div>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-lx">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div #ticket>
                    <div style="text-align: center; display: flex; justify-content: center;"
                        *ngFor="let payment of payments">
                        <div id="paymentTicket" style="width: 250px; height: 500px; max-width: 600px; max-height: 600px;">
                            <br>
                            <h1>{{ payment.gymName }}</h1>
                            <hr>
                            <h3>{{ payment.gymAddress }}</h3>
                            <h4>{{ payment.gymEmail }}</h4>
                            <h5>{{ payment.gymPhone }}</h5>

                            <div style="text-align: start;">
                                <hr>
                                <strong style="font-weight: bold;">{{ 'modalPayments.paymentClient' | transloco
                                    }}:</strong> {{ payment.memberName }}
                                <hr>
                                <strong style="font-weight: bold;">{{ 'modalPayments.paymentDate' | transloco
                                    }}:</strong> <br> {{ payment.createdAt }}
                                <hr>
                            </div>

                            <div style="padding: 1rem; text-align: center;">
                                <div style="display: flex;">
                                    <div style="flex: 1; text-transform: uppercase;">{{
                                        'modalPayments.paymentMembership' | transloco }}</div>
                                    <div style="flex: 1; text-transform: uppercase;">{{ 'modalPayments.paymentAmount' |
                                        transloco }}</div>
                                </div>

                                <div style="display: flex;">
                                    <div style="flex: 1; text-transform: uppercase;">{{ payment.membershipName }}</div>
                                    <div style="flex: 1; text-transform: uppercase;">{{ payment.amount | currency }}</div>
                                </div>
                            </div>

                            <hr>

                            <div style="padding: 0.5rem; text-align: start;" class="d-flex justify-content-between">
                                <div style="margin-right: 3%;">
                                    <strong style="font-weight: bold; font-size: smaller; text-transform: uppercase;">Payment Method: </strong> <br> &nbsp; {{
                                    payment.paymentMethod }}
                                </div>

                                <div style="margin-right: 3%;">
                                    <strong style="font-weight: bold; font-size: smaller; text-transform: uppercase;">{{
                                        'modalPayments.paymentAmountPaid' | transloco }}: </strong> <br> &nbsp; {{
                                    payment.amount | currency }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer justify-content-center">
                    <button class="btn btn-primary" disabled>{{ 'sendForEmail' | transloco }}</button>
                    <button class="btn btn-success" disabled>{{ 'sendForWhatsApp' | transloco }} <i class="fab fa-whatsapp"></i></button>
                    <button class="btn btn-info" (click)="printTicket()">{{ 'print' | transloco }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
