<div class="d-flex flex-column flex-root">
  <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed auth-bg">
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
      <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
        <form [formGroup]="form" (submit)="submit()" class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework">
          
          <div class="text-center mb-12">
            <img alt="Logo" src="../../../../assets/media/logos/logo.png" class="h-80px">
          </div>
          
          <div class="text-center mb-10">
            <h1 class="text-dark mb-3" *ngIf="action == 1">¿Olvidaste tu contraseña?</h1>
            
            <div class="text-gray-400 fw-bold fs-4" *ngIf="action == 1">
              Ingresa tu correo electrónico para restablecer tu contraseña.
            </div>

            <h1 class="text-dark mb-3" *ngIf="action == 2">
              {{form.value.email}}
            </h1>
          </div>

          <div class="fv-row mb-10 fv-plugins-icon-container" [hidden]="action == 2">
            <label class="required form-label fs-6 fw-bolder text-dark">Correo electrónico</label>
            
            <input type="text" class="form-control form-control-lg form-control-solid" id="logEmail" placeholder="Escribe tú correo electrónico" formControlName="email" name="email" />
            
            <div class="error">
              <div *ngIf="form.controls.email.touched && form.controls.email.hasError('required')">
                El correo electrónico es requerido
              </div>

              <div *ngIf="form.controls.email.dirty && form.controls.email.errors">
                El correo electrónico ingresado no es válido
              </div>
            </div>
          </div>

          <div class="fv-row mb-10 fv-plugins-icon-container" [hidden]="action == 1">
            <label class="form-label fs-6 fw-bolder text-dark required">Código</label>

            <input type="text" class="form-control form-control-lg form-control-solid" id="logTokenCode" placeholder="Escribe aquí el código" formControlName="token" name="token" />
          </div>

          <div class="fv-row mb-10 fv-plugins-icon-container" [hidden]="action == 1">
            <label for="cpPassword" class="form-label fs-6 fw-bolder text-dark required">Contraseña</label>
            
            <input type="password" class="form-control form-control-lg form-control-solid" id="cpPassword" placeholder="Escribe una nueva contraseña" formControlName="password" name="password" />
            
            <div class="error">
              <div *ngIf="form.controls.password.touched && form.controls.password.hasError('required')">
                La contraseña es requerida
              </div>

              <div *ngIf="form.controls.password.dirty && form.controls.password.errors">
                La contraseña debe tener al menos 6 caracteres
              </div>
            </div>
          </div>

          <div class="d-flex flex-wrap justify-content-center pb-lg-0">
            <button type="submit" class="btn btn-lg btn-primary fw-bolder me-4" [disabled]="loading">
              <span *ngIf="!loading">Enviar</span>
              <span *ngIf="loading">Por favor, espere...</span>
            </button>

            <a routerLink="/login" class="btn btn-lg btn-light-primary fw-bolder" *ngIf="action == 1">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>