<nav class="navbar bg-body-tertiary">
  <div class="container-fluid m-3">
    <h1>{{ gym.name }}</h1>
    <div class="d-flex h1">
        {{ getFormattedDateTime().date}}
        {{ getFormattedDateTime().time }}
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="input-group pt-4">
    <input #memberKey type="text" class="form-control" [placeholder]="'realtime.insert' | transloco " maxlength="10"
    [(ngModel)]="key" (input)="onInputChange($event)" />
  </div>
  <p-divider />
  <div class="row border rounded overflow-hidden flex-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col-auto">
      <img *ngIf="member.profilePicture; else elseBlock" class="img bd-placeholder-img rounded-circle" [src]="member.profilePicture" />
      <ng-template #elseBlock>
        <img class="img bd-placeholder-img rounded-circle" src="../../../assets/media/backgrounds/PERSONA.png" />
      </ng-template>
    </div>
    <div class="col p-4 d-flex flex-column position-static">
      <h2 class="d-inline-block mb-2 text-primary">{{ 'dashboard.hello' | transloco }} {{ member.name }}</h2>
      <h2 class="mb-0">{{ 'realtime.typemembership' | transloco }}: {{ member.membershipName }}</h2>
      <div class="mb-1 text-muted">{{ 'realtime.membersince' | transloco }}: {{ this.fun.transformDate(member.createdAt) }}</div>
      <p class="card-text mb-auto">{{ 'realtime.lastpayment' | transloco }}: {{ this.fun.transformDate(member.lastPayment) }}</p>
      <div class="mt-auto">
        <p-messages [closable]="false"></p-messages>
      </div>
    </div>
  </div>
</div>
