<div class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled aside-enabled aside-fixed"
	style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
	<div class="d-flex flex-column flex-root">
		<div class="page d-flex flex-row flex-column-fluid">
			<app-leftmenu></app-leftmenu>
			<div class="wrapper d-flex flex-column flex-row-fluid">
				<app-nav></app-nav>
				<div class="content d-flex flex-column flex-column-fluid">
					<div class="toolbar">
						<div class="container-fluid d-flex flex-stack">
							<div
								class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
								<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">{{ 'password.changePassword' | transloco }}</h1>
								<span class="h-20px border-gray-300 border-start mx-4"></span>
							</div>
						</div>
					</div>
					<div class="post d-flex flex-column-fluid">
						<div class="container-xxl">
							<div class="card mb-5 mb-xl-10">
								<div class="card-header border-0 cursor-pointer">
									<div class="card-title m-0">
										<h3 class="fw-bolder m-0">{{ 'password.updatePassword' | transloco }}</h3>
									</div>
								</div>
								<div class="collapse show">
									<form 
										class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate"
										[formGroup]="form" (submit)="submit()">
										<div class="card-body border-top p-9">
											<div class="row mb-6">
												<label class="col-lg-4 col-form-label required fw-bold fs-6">{{ 'password.oldPassword' | transloco }}</label>
												<div class="col-lg-8">
													<div class="row">
														<div class="col-lg-12 fv-row fv-plugins-icon-container">
															<input type="password"
																class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
																placeholder="{{ 'password.oldPassword' | transloco }}"
																formControlName="old_password" name="old_password">
															<div class="fv-plugins-message-container invalid-feedback">

																<div
																	*ngIf="form.controls.old_password.touched && form.controls.old_password.hasError('required')">
																	{{ 'isRequired' | transloco }}
																</div>
																<div
																	*ngIf="form.controls.old_password.dirty && form.controls.old_password.errors">
																	{{ 'password.oldPassword' | transloco }}&nbsp;{{ 'isInvalid' | transloco }}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row mb-6">
												<label class="col-lg-4 col-form-label required fw-bold fs-6">{{ 'password.newPassword' | transloco }}</label>
												<div class="col-lg-8">
													<div class="row">
														<div class="col-lg-12 fv-row fv-plugins-icon-container">
															<input type="password"
																class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
																placeholder="{{ 'password.newPassword' | transloco }}" formControlName="password"
																name="password">
															<div class="fv-plugins-message-container invalid-feedback">
																<div
																	*ngIf="form.controls.password.touched && form.controls.password.hasError('required')">
																	{{ 'isRequired' | transloco }}
																</div>
																<div
																	*ngIf="form.controls.password.dirty && form.controls.password.errors">
																	{{ 'password.newPassword' | transloco }}&nbsp;{{ 'isInvalid' | transloco }}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="card-footer d-flex justify-content-end py-6 px-9">
											<button type="submit" class="btn btn-primary"
												 [disabled]="loading">
												<span *ngIf="!loading">{{ 'save' | transloco }}</span>
												<span *ngIf="loading">{{ 'waiting' | transloco }}</span>
											</button>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
					<app-footer></app-footer>
				</div>
			</div>
		</div>
	</div>
</div>